/* Screen width is fixed at 1200px */
@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    margin: 10px 20px 10px;
    font-family: 'Lato', sans-serif;
    background: rgb(141, 186, 238);
}

body * {
    background: white;
    -webkit-box-shadow: -14px 22px 17px -6px rgba(61,61,61,1);
    -moz-box-shadow: -14px 22px 17px -6px rgba(61,61,61,1);
    box-shadow: -14px 22px 17px -6px rgba(61,61,61,1);
}

header, footer {
    border: 2px red solid;
    border-radius: 25px;
    width: 1150px;
    height: 130px;
    line-height: 130px;
    text-align: center;
    font-size: 25pt;
    color: RED;
    margin: 10px 0;
}

.center {
    /* border: 2px black solid; */
    margin: 30px 0;
    height: 450px;
    width: 1150px;
    background: rgb(141, 186, 238);
    box-shadow: none;
}

nav {
    text-align: center;
    line-height: 400px;
    margin-right: 20px;
    border: 2px brown solid;
    width: 375px;
    height: 450px;
    display: inline-block;
    vertical-align: bottom;
    font-size: 25pt;
    font-weight: 700;
}

.center .body {
    line-height: 450px;
    text-align: center;
    height: 450px;
    width: 450px;
    border: 2px green solid;
    display: inline-block;
    margin: 0 20px;
    vertical-align: bottom;
    font-size: 25pt;
}

.body * {
    line-height: 10px;
    box-shadow: none;
}

.side {
    line-height: 225px;
    text-align: center;
    height: 225px;
    width: 225px;
    display: inline-block;
    border: 2px violet solid;
    margin-bottom: 225px;
    vertical-align: bottom;
    font-size: 25pt;    
}

.side p, .body p {
    margin: 0;
    font-weight: 700;
    text-align: center;

}

.submit, .reset {
    line-height: 25px;
}

label {
    font-size: 12pt;
    line-height: 10px;
}